[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests-aws4auth = "*"
elasticsearch = "==7.13.4"

[dev-packages]
pytest = "*"
boto3 = "*"

[requires]
python_version = "3.8"
